.autosave-panel h3,
.autosave-panel h3 + p {
  position:fixed;
  bottom:.6em;
  left:.5em;
  z-index:9999;
  margin:0;
  padding:.5em;
  background-color:black;
  background-color:rgba(0,0,0,.8);
  border:1px solid rgba(0,0,0,.4);
  font:normal normal normal 13px/1 Helmet,FreeSans,Sans-Serif;
  color:white;
  text-shadow:none;
  text-align:left;
  box-shadow:0 2px 5px -2px black;
  display:none;
}
.autosave-panel h3 {
  display:block;
  cursor:pointer;
}
.autosave-panel h3 strong {
  display:block;
  font-weight:normal;
  font-size:110%;
}
.autosave-panel h3 span {
  display:block;
  font-size:86%;
  margin-top:.5em;
}
.autosave-panel.visible h3 {display:none}
.autosave-panel.visible h3 + p {display:block}
.autosave-panel button,
.autosave-panel button::-moz-focus-inner {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  box-shadow:none;
  border-radius:0;
  font:inherit;
}
.autosave-panel button {
  padding:.4em .6em;
  background-color:white;
  color:black;
  font-size:74%;
  text-transform:uppercase;
  border-radius:.2em;
  cursor:pointer;
}
.autosave-panel button:focus,
.autosave-panel button:hover {background-color:#FCE125}
.autosave-panel button:active {background-color:#F7B703}
.autosave-panel button[disabled],
.autosave-panel button[disabled]:focus,
.autosave-panel button[disabled]:hover,
.autosave-panel button[disabled]:active {
  background-color:white;
  color:black;
  opacity:.5;
}
.autosave-message {
  position:fixed;
  top:.5em;
  right:.5em;
  left:.5em;
  z-index:9999;
  text-align:center;
  height:0;
  overflow:visible;
}
.autosave-message div {
  display:inline-block;
  padding:.5em 1em;
  background-color:#FAFA39;
  color:black;
  font-size:96%;
  border-radius:.4em;
  box-shadow:0 1px 2px black;
}